
div{
  border: solid;
  border-color: black;
  background-color: red;
  display: block;
  box-sizing: border-box;
  width: 300px;
  height: 20vh;
  margin: 3% 4px;
  padding: 0;

}

@media (max-width: 900px){
  div{
    display: block;
    box-sizing: border-box;
    border: dotted;
    border-color: black;
    background-color: green;
    width: 20%;
    height: 100px;
    margin: 6% 10px;
    padding: 9px;
  }
}

@media (max-width: 420px){
  div{
    display: block;
    box-sizing: border-box;
    border: solid;
    border-color: #BD0202;
    background-color: green;
    width: 20%;
    height: 100px;
    margin: 0;
    padding-right: 9px;
  }

}
